
p {
    border-style: solid;
    border: 2px;
    border-color: white;
    display: flex;
}

.quiz {
    background-color: blue;
    justify-content: center;
}

#timer {
    border-style: solid;
    border: 2px;
    border-color: white;
}
